{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span class="text-4xl mb-4 block">This is not the site you are looking for...</span><br/>
      <iframe class="mx-auto" src="https://giphy.com/embed/l2JJKs3I69qfaQleE" width="480" height="218" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
  </div>
{% endblock %}